{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
    <header>
    <h1>Habit Tracker</h1>
  </header>
  <body>
    <div>
      <form action="/habit_tracker/" method="post">
        {% csrf_token %}
        {{ formset.management_form}}
        <table id="habit-table">
          <thead>
            <tr>
              <th>Completed?</th>
              <th>Habit Name</th>
              <th>Date</th>
              <th>Length of Activity</th>
            </tr>
          </thead>
          <tbody id="formset-body">
            {% for form in formset %}
              <tr class="formset-row">
               {% for field in form %}
                <td>
                  {{ field }}
                  {% if field.errors %}
                    <ul class="errorlist">
                      {% for error in field.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </td>
                {% endfor %}
                <td><button type="button" id="start-button0" class="start-button">Start Timer</button></td>
                <td><button type="button" id="stop-button0" class="stop-button" style="display: none;">Stop Timer</button></td>
              </tr>

              {% if form.non_field_errors %}
                <tr>
                  <td colspan="4">
                    <ul class="errorlist non-field-errors">
                      {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>

        <template id="empty-form-template">
          <tr class="formset-row">
            {% for field in formset.empty_form %}
            <td>{{ field }}</td>
            {% endfor %}
            <td><button type="button" id="start-button" class="start-button" name="start_button">Start Timer</button></td>
            <td><button type="button" id="stop-button" class="stop-button" name="stop-button" style="display: none;">Stop Timer</button></td>
          </tr>
        </template>
        <button type="button" onclick="addRow('empty-form-template')" id="add-row-btn">Add Row</button>
        <input type="submit" value="Submit">
      </form>
      <script src="{% static 'js/addRow.js' %}"></script>
      <script src="{% static 'js/timer.js' %}"></script>
   </body>
</html>
