{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
    <header>
    <h1>Habit Tracker</h1>
  </header>
  <body>
    <div>
      <form action="/habitForm/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type"submit" value="Submit">
      </form>
        <tr>
          <th>Completed?</th>
          <th>Habit Name</th>
          <th>Date</th>
          <th>Length of Activity</th>
        </tr>
      <form>
      <table> 
        <tbody>
        <template id="template-row">
          <tr>
            <td><input type="checkbox" id="completed"></td>
            <td><input type="text" id="habit_name"></td>
            <td><input type="date" id="date"></td>           
            <td><p type="text" id="timerText">00:00:000</p></td>
            <td><button type="button" id="start-button" class="start-button">Start Timer</button></td>
            <td><button type="button" id="stop-button" style="display: none;" class="stop-button">Stop Timer</button></td>
          </tr>
        </template>
        </tbody>
        <script src="{% static 'js/timer.js' %}"></script>
      </table>
      </form>
    </div>
    <div>
      <button onclick="addRow('template-row')">Add Habit</button>
    </div>
  <script src="{% static 'js/addRow.js' %}"></script>
  </body>
</html>
